<header class=" text-teal-500 shadow-md font-poppins">
  <div class="container mx-auto flex justify-between items-center py-3 px-6">
    <!-- Logo or Brand Name -->
    <div class="flex items-center">
      <img src="assets/logo.png" alt="Logo" class="h-12 mr-3">
    </div>
    <nav class="hidden md:flex space-x-8">
      <a routerLink="/" routerLinkActive="text-blue-600" class="hover:text-gray-300">Home</a>
      <a routerLink="/hot-songs" routerLinkActive="text-blue-600" class="hover:text-gray-300">Hot Songs</a>
      <a routerLink="/list-with-filter" routerLinkActive="text-blue-600"  class="hover:text-gray-300">Filter Test</a>
    </nav>

        <!-- Action Buttons -->
        <div class="hidden md:flex items-center space-x-4">
          <a href="#" class="text-gray-600 hover:text-gray-900">Sign In</a>
        </div>

        <!-- Mobile Menu Button -->
    <div class="md:hidden">
      <button class="text-gray-600 hover:text-gray-900">
        <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>
    </div>
  </div>
</header>